/* ESTILOS GENERALES */
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Oswald:wght@200..700&display=swap");

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --fuente-global: "Oswald", sans-serif;
  font-style: normal;
}

/* Generales */
body {
  font-family: var(--fuente-global);
  font-size: 1rem;
  line-height: 1.6;
}

/* Navbar */
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
