.section-hero{
    background-color: var(--color-principal);
}

.hero-contenedor{
display: flex;
height: 100%;
}

.hero-columna{
width: 50%;
}

.hero-contenido{
display: flex;
flex-direction: column;
}

.hero-text{
    color: var(--color-texto-claro);
}

.hero-text small{
    color: var(--color-suave);
    font-size: 2rem;
}



.hero-text h1{
    color: var(--color-acento);
    font-size: 5rem;
    margin-top: 0;
}

.hero-text p{
    font-size: 2rem;
    width: 95%; 
    margin-bottom: 1.5rem;
}


.hero-btn{
    margin-bottom: 1rem;
}

.hero-imagenes{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.hero-metricas{
display: flex;
margin-top: 1.5rem;
}

.metrica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

.metrica h2{
    color: var(--color-destacado);
   font-size: 3rem;
}

.metrica p{
    color: var(--color-suave);
   font-size: 1.5rem;
}


/* Columna Derecha */
.hero-img{
    object-fit: cover;
    border-radius: 8px;
}

.hero-img-principal{
    width: 78%;
    height: 70%;
    transform: translate(-5%, -5%);
}

.hero-img-secundaria{
    position: absolute;
    width: 42%;
    height: 38%;
    right: 2%;
    bottom: 8%;
    border: 2px solid var(--color-texto-claro);
    object-position: right center;
}

